/*@media (max-width: 1158px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    body {
        font-size: 0.9rem;
    }
} */