body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo_nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span_studio {
    color: #2e2f42;
}

.nav_studio {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.nav_studio:hover {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.nav_studio:focus {
    color: #404bbf;
}

.contact_info {
    font-style: normal;
}

.contact_email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contact_email:hover {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.contact_email:focus {
    color: #404bbf;
}

.title_section {
    background-color: #2e2f42;
}

.title_site {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button_order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button_order:hover {
    background-color: #404BBF;

}

.button_order:focus {
    background-color: #404BBF;
}

.service_title_1,
.service_title_2,
.service_title_3,
.service_title_4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title_strategy,
.title_punctuality,
.title_diligence,
.title_technologies {
    line-height: 1.5;
    letter-spacing: 0.02em;
}