body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}

header {
    border-bottom: 1px solid #e7e9fc;
}

.header-inner {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: flex;
    align-items: center;
}

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span-studio {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-studio {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding: 24px 0;
}

.nav-studio:hover {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.nav-studio:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contact-email:hover {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.contact-email:focus {
    color: #404bbf;
}

.title-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

.container-h1 {

}

.title-site {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.button-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}

.button-order:hover {
    background-color: #404BBF;

}

.button-order:focus {
    background-color: #404BBF;
}

.skills-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.skills-list {
    display: flex;
    gap: 24px;
}

.skills-item {
    width: calc((100% - 72px) / 4);
}

.title-service {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.parag-service {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-card {
    background-color: #FFFFFF;
}

.title-footer {
    background-color: #2e2f42;
}

.footer-studio {
    color: #f4f4fd;
}

.par-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}