body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-studio {
    color: #2e2f42;
}

.nav-studio {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.nav-studio:hover {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.nav-studio:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contact-email:hover {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.contact-email:focus {
    color: #404bbf;
}

.title-section {
    background-color: #2e2f42;
}

.title-site {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-order:hover {
    background-color: #404BBF;

}

.button-order:focus {
    background-color: #404BBF;
}

.title-service {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.parag-service {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-card {
    background-color: #FFFFFF;
}

.title-footer {
    background-color: #2e2f42;
}

.footer-studio {
    color: #f4f4fd;
}

.par-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}